mat-toolbar {
  display: block;
}

.top-menu {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
}

.top-menu-wrapper a:first-child {
  margin-right: 20px;
}

.logged-in-email {
  margin-right: 20px;
  font-size: 16px;
}
