<mat-toolbar>
  <div class="top-menu">
    <a routerLink="/" mat-button>Star Wars</a>

    <div class="top-menu-wrapper">
      <ng-container *ngIf="!(isLoggedIn$ | async)">
        <a mat-stroked-button routerLink="authorization/login">Sign In</a>
        <a mat-stroked-button routerLink="authorization/register">Register</a>
      </ng-container>

      <ng-container *ngIf="isLoggedIn$ | async">
        <span class="logged-in-email">{{ userEmail$ | async }}</span>

        <button mat-flat-button color="primary" type="button" (click)="logout()">Log Out</button>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
