<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="opened$ | async">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a mat-stroked-button routerLink="films">Films</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-stroked-button routerLink="planets">Planets</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-stroked-button routerLink="characters">Characters</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
