:host {
  width: 80%;
}

table {
  table-layout: fixed;
  width: 100%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.add-btn-wrapper {
  margin-top: 50px;
  text-align: center;
}

.paginator {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.paginator button:first-child {
  margin-right: 40px;
}

mat-form-field {
  margin-right: 40px;
}
