/* --- Wrapper --- */
.wrapper {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
/* --- / Wrapper --- */

/* --- Table --- */
.filmTable {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}

.filmTableCaption {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.tableTitle {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 12px 8px;
  background-color: #4caf50;
  text-align: left;
  text-align: center;
  position: relative;
}

.tableTitle span {
  color: #fff;
}

.tableItem {
  padding: 8px;
}

.tableLink {
  display: block;
}

.tableRow:nth-child(even) {
  background-color: #f2f2f2;
}

.tableRow:hover {
  background-color: #ddd;
}
/* --- Table --- */

/* --- Sort buttons */
.btnSort {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
}

.btnSortArrow {
  position: absolute;
  right: 12px;
  top: 15px;
  transform: rotate(45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.btnSortArrow-active {
  border-color: black;
}

.btnSortArrow-reverse {
  border-width: 3px 0 0 3px;
  top: 18px;
}
/* --- / Sort buttons */

/* --- Search input --- */
.searchForm {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.searchInput {
  width: 70%;
  padding: 15px 20px;
  border: none;
  border-bottom: 2px solid black;
  transition: 0.2s;
}
/* --- / Search input --- */

.searchInput:focus {
  border-color: #4caf50;
  transition: 0.2s;
}

/* --- Page buttons --- */
.paginationList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.paginationList li + li {
  margin-left: 50px;
}

.paginationBtn {
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 16px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.paginationBtn:hover,
.paginationBtn.active {
  background-color: lightgray;
}

.paginationBtn:active {
  background-color: grey;
}
/* --- / Page buttons --- */

/*  --- Related data button --- */
.relatedDataButton {
  display: block;
  text-align: center;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 18px;
}
/* --- / Related data button --- */

/* --- back buttons --- */
.listBack {
  margin-top: 20px;
}

.linkBack,
.btnBack {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid black;
  color: black;
}

.btnBack {
  background-color: #fff;
  margin-left: 40px;
}

.linkBack:hover {
  background-color: lightgray;
}

.linkBack:hover {
  background-color: lightgray;
}
/* --- / back buttons --- */

/* --- Remove button --- */

.removeWrapper {
  margin-top: 100px;
  text-align: end;
  align-self: flex-end;
}

.btnRemove {
  background-color: #d11a2a;
  width: 150px;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btnRemove:hover {
  background-color: #b81624;
  transform: scale(1.02);
  transition: 0.2s;
}

/* --- / Remove button --- */
