* {
  box-sizing: border-box;
}

/* --- Wrapper --- */
.wrapper {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
/* --- / Wrapper --- */

/* ====== Table ====== */
.filmTable {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}

.filmTableCaption {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.tableTitle {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 12px 8px;
  background-color: #4caf50;
  text-align: left;
  text-align: center;
  position: relative;
}

.tableTitle span {
  color: #fff;
}

.tableItem {
  display: block;
  padding: 8px;
}

.tableLink {
  display: block;
}

.tableRow:nth-child(even) {
  background-color: #f2f2f2;
}

.tableRow:hover {
  background-color: #ddd;
}
/* ====== / Table ====== */

/* --- Top menu ---*/
.topMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  align-items: center;
}
/* --- / Top menu --- */

/* --- error message --- */
.errorMsg {
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #d11a2a;
  display: none;
}
/* --- / error message --- */

/* ====== Inputs ====== */
/* --- Search input --- */
.searchForm {
  width: 33%;
}

.searchInput {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-bottom: 2px solid black;
}
/* --- / Search input --- */

/* --- Add inputs --- */
.addFilmInput {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  border: 1px solid #d1d1d1;
}
.textArea {
  resize: none;
}
/* --- / Add inputs --- */
/* ====== / Inputs ====== */

/* ====== Buttons and links ====== */
/* --- Common --- */
.button {
  min-width: 150px;
  padding: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
}

.btnsWrapper {
  margin-top: 50px;
  text-align: end;
}
/* --- / Common --- */
/* --- Remove button --- */
.btnRemove {
  background-color: #d11a2a;
  text-transform: uppercase;
  margin-left: 20px;
}

.btnRemove:hover {
  background-color: #b81624;
  transition: 0.2s;
}
/* --- / Remove button --- */

/* --- Edit button --- */
.btnEdit {
  display: inline-block;
  background-color: #30a3d8;
  text-transform: uppercase;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
}

.btnEdit:hover {
  background-color: #2a8ebd;
  transition: 0.2s;
}
/* --- / Edit button --- */

/* --- Submit button --- */
.btnSubmit {
  background-color: #30a3d8;
  text-transform: uppercase;
  margin-left: 20px;
}

.btnSubmit:hover {
  background-color: #2a8ebd;
  transition: 0.2s;
}
/* --- / Submit button --- */

/* --- Add link ---*/
.linkAdd {
  background-color: #4caf50;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.linkAdd:hover {
  background-color: #3f9442;
  transition: 0.2s;
}
/* --- / Add link --- */

/* --- Back buttons --- */
.listBack {
  padding: 0px 20px;
}

.linkBack,
.btnBack {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  background-color: #f1f1f1;
}

.btnBack {
  background-color: #fff;
  border: 5px solid #f1f1f1;
  margin-top: 20px;
}

.btnBack:hover {
  border-color: #ddd;
}

.linkBack:hover {
  background-color: #ddd;
}
/* --- / Back buttons --- */

/*  --- Related data button --- */
.relatedDataButton {
  display: block;
  text-align: center;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 18px;
}
/* --- / Related data button --- */

/* --- Page buttons --- */
.paginationList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.paginationList li + li {
  margin-left: 50px;
}

.paginationBtn {
  border-radius: 0;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 16px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.paginationBtn:hover,
.paginationBtn.active {
  background-color: #d1d1d1;
}

.paginationBtn:active {
  background-color: #7e7e7e;
}
/* --- / Page buttons --- */

/* --- Sort buttons */
.btnSort {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
}

.btnSortArrow {
  position: absolute;
  right: 12px;
  top: 15px;
  transform: rotate(45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.btnSortArrow-active {
  border-color: black;
}

.btnSortArrow-reverse {
  border-width: 3px 0 0 3px;
  top: 18px;
}
/* --- / Sort buttons */

/* ====== / Buttons and links ====== */
