<div class="auth-form-wrapper">
  <form class="auth-form" (ngSubmit)="registerUser()" [formGroup]="registerForm">
    <div class="auth-form-title">Register</div>
    <div class="input-group">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Your email" formControlName="email" type="email" autocomplete="off" />
      </mat-form-field>
      <span class="error-msg" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
        <span *ngIf="registerForm.get('email').errors['required']"> Email is required </span>
        <span *ngIf="registerForm.get('email').errors['email']"> Incorrect email </span>
      </span>
    </div>
    <div class="input-group">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="******" formControlName="password" type="password" autocomplete="off" />
      </mat-form-field>
      <span class="error-msg" *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
        <span *ngIf="registerForm.get('password').errors['required']"> Password is required </span>
        <span *ngIf="registerForm.get('password').errors['minlength']"> Too short password </span>
      </span>
    </div>
    <span class="form-error" *ngIf="formError">{{ formError }}</span>
    <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">Submit</button>
  </form>
</div>
